/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-10-2021, 23:59:58
    Author     : gmesatica
*/
body{
    width: auto;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    
}


section{
    
    margin: 0 auto;
    padding: 20px 0 20px 0
       ;
}
form{
    border: 1px solid green;
    display:block;
    padding: 20px 0 20px 0;
}

table{
   
border-collapse: initial    
}